.main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $color-primary;
}

.toolbar {
  min-height: calc(100vh - 196px);
  width: 98px;
  color: $color-tertiary;
  text-align: center;
  background: $color-secondary;
}

.landing {
  position: absolute;
  color: $color-tertiary;
  top: 5px;
  right: 25px;
  & a {
    color: $color-tertiary;
  }
}