@import './variables';
@import './header';
@import './main';
@import './footer';
* {
	box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
	min-height: 100vh;
}

#root {
  color: $color-tertiary;
}







