* {
	box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#root {
  color: red;
}

.toolbar {
  width: 75px;
  color: white;
  text-align: center;
  background: gray;
}

.header {
  display: flex;
}

#h-center {
  flex-grow: 1;
  height: 198px;
  background-color: #098;
  border-top: 25px #098 solid;
}

.h-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

#logo {
  width:1px;
	height:1px;
  background-color: #069;
	border:1px solid #069;
	border-color:#069 #098 #098 #069;
	border-width:99px;
  max-height: 1px;
  max-width: 1px;
}

#nav {
  width:1px;
	height:1px;
  background-color: #069;
	border:1px solid #069;
	border-color:#098 #069 #069 #098;
	border-width:99px;
  max-height: 1px;
  max-width: 1px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: red;
}

.name {
  font-size: 32px;
  color: white;
  background-color: pink;
}

.center {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: salmon;
}

